<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kata - Color Mixer</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="app">
        <header>
            <div>
                <label for="red">r</label>
                <input type="range" id="red" step="1" min="0" max="255" v-model="red" v-on:input="updateColor" />
            </div>
            <div>
                <label for="green">g</label>
                <input type="range" id="green" step="1" min="0" max="255" v-model="green" v-on:input="updateColor" />
            </div>
            <div>
                <label for="blue">b</label>
                <input type="range" id="blue" step="1" min="0" max="255" v-model="blue" v-on:input="updateColor" />
            </div>
            <p id="color-value">{{ colorValue }}</p>
        </header>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>